main {
  min-height: 80vh;
  /* background-color: rgb(38, 36, 100); */
  background-image: linear-gradient(
    to top,
    #283705,
    #4d610d,
    #798d12,
    #abbb14,
    #e2eb12
  );
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 10;
}

.carousel-caption h2 {
  color: rgb(11, 223, 99);
}

.carousel img {
  height: 150px;
  padding: 10px;
  margin: 30px;
  border-radius: 30%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to top,
    #371205,
    #594118,
    #67783c,
    #59b284,
    #12ebeb
  );
}
.carousel a {
  margin: 10 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2 vw;
  }
}
